@import '../../../../variable.scss';

article {
    display: grid;
    grid-template-rows: auto auto;
    gap: 5px;
    border-radius: 5%;
    background-color: $secondary-background;
    text-align: center;
    color: $highlight;
    font-size: 15px;

    &:hover {
        cursor: pointer;
    }

    div {
        display: grid;
        grid-template-columns: 2fr 1fr;

        .type-wrapper {
            display: grid;
            grid-template-columns: 1fr;
            justify-self: end;

            .type {
                border-radius: 100%;
                height: 25px;
                width: 25px;
                margin:auto;
                transition: 200ms all;
            }
        }

        .sprite {
            width: auto;
            height: auto;
        }
    }

    .info-wrapper {
        margin-top: 0;
        margin-bottom: 0;
        border-radius: 0% 0% 5% 5%;
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: center;
        background-color: $tertiary-background;
        color: white;

        h3 {
            font-size: 20px;
            margin: 5px;
        }
    }
}