@import '../../../../variable.scss';

.pokemon {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5px;
    border: 2px solid $highlight;
    border-radius: 5%;
    background-color: $background;
    text-align: center;
    padding-bottom: 5px;
    color: $highlight;
    font-size: 15px;

    &:hover {
        cursor: pointer;
    }

    .sprite {
        width: auto;
        height: auto;
    }

    .emphasized {
        font-size: 30px;
    }

    .type-wrapper {
        display: grid;
        grid-template-rows: auto auto;
        justify-self: end;

        .type {
            border-radius: 100%;
            height: 25px;
            width: 25px;
            margin:auto;
            transition: 200ms all;
        }
    }
}



