@import '@fortawesome/fontawesome-free/css/all.css';
@import '../../../variable.scss';

header {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    position: fixed;
    background-color: $red;
    top: 0;
    width: 100vw;

    h1 {
        padding-left: 10px;

        img {
            height: 25px;
            width: 25px;

            &:hover {
                transform: rotate(360deg);
                transition: all 0.5s ease-in-out 0s;
                cursor: pointer;
            }
        }
    }


    #search {
        justify-self: flex-end;
        margin-right: 10px;
        input, select, textarea {
            border: 1px solid grey;
            border-radius: 25px;
            width: 1fr;
            height: 30px;
            padding-right: 30px;
            padding-left: 30px;

            &:focus {
                outline: none;
            }
            &::placeholder {
                opacity: 60%;
            }
        }

        i {
            position: absolute;
            margin-left: -30px;
            padding-top: 7px;
            font-size: 20px;
        }
    }
}