@import '@fortawesome/fontawesome-free/css/all.css';

.heading {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    position: fixed;
    background-color: #FF0000;
    top: 0;
    width: 100%;
    padding-bottom: 10px;

    span {
        padding-left: 10px;
        font-size: 30px;
    }

    #search {
        justify-self: flex-end;
        margin-right: 10px;
        input, select, textarea {
            border: 1px solid grey;
            border-radius: 25px;
            width: 300px;
            height: 30px;
            padding-right: 30px;
            padding-left: 30px;

            &:focus {
                outline: none;
            }
            &::placeholder {
                opacity: 60%;
            }
        }

        i {
            position: absolute;
            margin-left: -30px;
            padding-top: 12px;
            font-size: 20px;
        }
    }
}