@import '../../../variable.scss';

.container {
    color: $highlight;
    display: grid;
    grid-template-areas: "stats image info";

    #stats {
        grid-area: stats;
    }

    img {
        grid-area: image;
        justify-self: center;
        width: 300px;
        height: 300px
    }

    #info {
        grid-area: info;
    }

    .table {
        background-color: $tertiary-background;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1fr);
        padding: 5px;
        text-align: center;
        color: white;

        div {
            display: grid;
            grid-template-columns: 100px 1fr;
            grid-template-rows: 1fr;
            background-color: $secondary-background;
        }

        span {
            padding-top: 10px;
        }
    }
}

i {
    font-size: 20px;
    color: white;
    padding-bottom: 20px;
    cursor: pointer;
}