<div>
    <i class="fas fa-arrow-left" routerLink="/"></i>
</div>
<div *ngIf="dataLoaded | async" class="container">
    <div id="stats" class="table">
        <div *ngFor="let stat of pokemon.stats | keyvalue">
            <span class="header">{{stat.key|titlecase}}</span>
            <span> {{stat.value}}</span>
        </div>
    </div>
    <img src="{{pokemon.image}}">
    <div id="info" class="table">
       <div *ngFor="let info of pokemon.info | keyvalue">
            <span class="header">{{info.key|titlecase}}</span>
            <span> {{info.value}}</span>
        </div>
    </div>
</div>