@import '../../../variable.scss';

.details {
    background-color: $tertiary-background;
    padding: 5px;
    margin-left: 50px;
    margin-right: 50px;
}
.container {
    color: white;
    display: grid;
    grid-template-areas: "stats image info";
    background-color: $secondary-background;

    #stats {
        grid-area: stats;
    }

    img {
        grid-area: image;
        justify-self: center;
        width: 300px;
        height: 300px
    }

    #info {
        grid-area: info;
    }

    .table {
        display: grid;
        grid-template-columns: repeat(1, minmax(1fr, 150px));
        text-align: center;
        padding: 5px;

        div {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;

            span {
                padding-top: 10px;

                &:nth-child(2) {
                    text-align: left;
                }
            }

            app-type {
                padding-right: 3px;
            }
        }

    }
}

i {
    font-size: 20px;
    color: white;
    padding-bottom: 20px;
    cursor: pointer;
}