@import '../../../variable.scss';

.container {
    color: $highlight;
    display: grid;
    grid-template-areas: "stats image info";

    #stats {
        grid-area: stats;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    img {
        grid-area: image;
        justify-self: center;
        width: 300px;
        height: 300px
    }

    #info {
        grid-area: info;
    }
}