#pokemon {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 5px 5px;
}

#search {
    position: relative;

    input, select, textarea {
        border: 1px solid grey;
        border-radius: 25px;
        color: grey;
        padding-left: 10px;
        width: 300px;
        height: 30px;

        &:focus {
            outline: none;
        }
        &::placeholder {
            opacity: 60%;
        }
    }

    i {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
    }

}