.pokemon {
    display: grid;
    border: 2px solid rgb(114, 108, 108);
    justify-items: center;

    .type-wrapper {
        display: inline;
        justify-content: end;

        .type {
            border-radius: 100%;
            height: 20px;
            width: 20px;
            margin:auto;
            transition: 200ms all;
            margin: 0.1rem;
        }
    }
}



